.ModalDesign {
    padding: 10%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    word-break: break-all;
    min-width: 500px;
    overflow: auto;
}
.ModalDesign::-webkit-scrollbar{
    width: 2px;
}

.TaskModal {
    cursor: default;
}